<mat-card>
    <h1>Update Student</h1>
    <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>avm</mat-label>
              <input matInput 
                [(ngModel)] = "avm"
                name = "avm"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psi</mat-label>
              <input matInput 
                [(ngModel)] = "psi"
                name = "psi"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>complete</mat-label>
              <input matInput 
                [(ngModel)] = "complete"
                name = "complete"
                required>
            </mat-form-field>
          </p>
        <div >
            <button mat-raised-button color="primary">
                Update
            </button>
        </div>
      </div>
    </form>
</mat-card>


